* {
    font: inherit;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: sans-serif;
}

section {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

h4 {
    font-weight: bold;
}